.title {
  color: #11142D;
}
.slider{
  width: 628px;
  height: 425px;
  background-color: #2F3CED;
}
.sliderImage{
  width: 203px;
  height: 101px;
}
.sliderTitle{
  word-break: break-word;
  display: inline-block;
}
.courseBtn{
  background-color: #fff;
  padding :18px 43px 18px 43px;
  color: #11142D;
  line-height: 20px;
}
