<main class="p-6 h-24 flex flex-row">
  <div id="profile-badge" class="flex flex-row place-content-center">
    <img src="https://avatars.dicebear.com/api/avataaars/adem%20kur%C5%9Fun.svg" alt="avatar" height="40px"
         width="40px">
  </div>
  <div fxLayout="column" class="ml-4">
    <span>Adem K.</span>
    <span class="text-gray-500">Öğrenci</span>
  </div>
  <div style="flex: 1 1"></div>
  <button class="mobile-button" mat-icon-button>
    <mat-icon>unfold_more</mat-icon>
  </button>

</main>
