<div class="container m-8 text-3xl font-bold">
  <span style="color: #11142d;">Educ8<span style="color:#ff7c5d;">.</span>club</span>
</div>
<div class="ml-9">
  <ul class="font-medium text-l mt-14 " style="color:#808191;">
    <li class="mb-6"><span class="material-icons">home</span> Anasayfa</li>
    <li class="mb-6"><span class="material-icons">class</span> Kurslarım</li>
    <li class="mb-6"><span class="material-icons">favorite_border</span> Favorilerim</li>
    <li class="mb-6"><span class="material-icons">auto_stories</span> Ödevlerim</li>
    <li class="mb-6"><span class="material-icons">military_tech</span> Başarılarım</li>
    <li class="mb-6"><span class="material-icons">card_membership</span> Sertifikalarım</li>
    <li class="mb-6"><span class="material-icons">settings</span> Ayarlar</li>
  </ul>
</div>
