@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
button:focus{
  outline: none !important;
}

.mat-icon-button i, .mat-icon-button .mat-icon {
  line-height: 13px !important;
}
